### Importación de datos

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

In [ ]:
ingreso_tienda1 = tienda["Precio"].sum()
ingreso_tienda2 = tienda2["Precio"].sum()
ingreso_tienda3 = tienda3["Precio"].sum()
ingreso_tienda4 = tienda4["Precio"].sum()

In [ ]:
print(f"Ingreso total Tienda 1: ${ingreso_tienda1:,.2f}")
print(f"Ingreso total Tienda 2: ${ingreso_tienda2:,.2f}")
print(f"Ingreso total Tienda 3: ${ingreso_tienda3:,.2f}")
print(f"Ingreso total Tienda 4: ${ingreso_tienda4:,.2f}")

Ingreso total Tienda 1: $1,150,880,400.00
Ingreso total Tienda 2: $1,116,343,500.00
Ingreso total Tienda 3: $1,098,019,600.00
Ingreso total Tienda 4: $1,038,375,700.00

In [ ]:
gasto_venta_tienda1 = tienda["Costo de envío"].sum()
gasto_venta_tienda2 = tienda2["Costo de envío"].sum()
gasto_venta_tienda3 = tienda3["Costo de envío"].sum()
gasto_venta_tienda4 = tienda4["Costo de envío"].sum()

In [ ]:
print(f"Gasto Tienda 1: ${gasto_venta_tienda1:,.2f}")
print(f"Gasto Tienda 2: ${gasto_venta_tienda2:,.2f}")
print(f"Gasto Tienda 3: ${gasto_venta_tienda3:,.2f}")
print(f"Gasto Tienda 4: ${gasto_venta_tienda4:,.2f}")

Gasto Tienda 1: $61,377,900.00
Gasto Tienda 2: $59,485,100.00
Gasto Tienda 3: $58,516,600.00
Gasto Tienda 4: $55,317,400.00

In [ ]:
balance_tienda1 = ingreso_tienda1 - gasto_venta_tienda1
balance_tienda2 = ingreso_tienda2 - gasto_venta_tienda2
balance_tienda3 = ingreso_tienda3 - gasto_venta_tienda3
balance_tienda4 = ingreso_tienda4 - gasto_venta_tienda4

In [ ]:
print(f"Balance Tienda 1: ${balance_tienda1:,.2f}")
print(f"Balance Tienda 2: ${balance_tienda2:,.2f}")
print(f"Balance Tienda 3: ${balance_tienda3:,.2f}")
print(f"Balance Tienda 4: ${balance_tienda4:,.2f}")

Balance Tienda 1: $1,089,502,500.00
Balance Tienda 2: $1,056,858,400.00
Balance Tienda 3: $1,039,503,000.00
Balance Tienda 4: $983,058,300.00

In [ ]:
balances = [balance_tienda1, balance_tienda2, balance_tienda3, balance_tienda4]
tiendas = ["Tienda 1", "Tienda 2", "Tienda 3", "Tienda 4"]

mejor_balance = max(balances)
indice_mejor = balances.index(mejor_balance)
mejor_tienda = tiendas[indice_mejor]

print(f"La tienda con mejor balance es:{mejor_tienda}")

La tienda con mejor balance es:Tienda 1

# 2. Ventas por categoría

In [ ]:
def productos_por_categoria(tienda_df, nombre_tienda):
    resumen = tienda_df["Categoría del Producto"].value_counts()
    print(f"\nCategorias populares en {nombre_tienda}:\n")
    print(resumen)
    print("-" * 40)

In [ ]:
productos_por_categoria(tienda, "Tienda 1")
productos_por_categoria(tienda2, "Tienda 2")
productos_por_categoria(tienda3, "Tienda 3")
productos_por_categoria(tienda4, "Tienda 4")

Categorias populares en Tienda 1:

Categoría del Producto
Muebles                    465
Electrónicos               448
Juguetes                   324
Electrodomésticos          312
Deportes y diversión       284
Instrumentos musicales     182
Libros                     173
Artículos para el hogar    171
Name: count, dtype: int64
----------------------------------------

Categorias populares en Tienda 2:

Categoría del Producto
Muebles                    442
Electrónicos               422
Juguetes                   313
Electrodomésticos          305
Deportes y diversión       275
Instrumentos musicales     224
Libros                     197
Artículos para el hogar    181
Name: count, dtype: int64
----------------------------------------

Categorias populares en Tienda 3:

Categoría del Producto
Muebles                    499
Electrónicos               451
Juguetes                   315
Electrodomésticos          278
Deportes y diversión       277
Libros                     185
Instrumentos musicales     177
Artículos para el hogar    177
Name: count, dtype: int64
----------------------------------------

Categorias populares en Tienda 4:

Categoría del Producto
Muebles                    480
Electrónicos               451
Juguetes                   338
Deportes y diversión       277
Electrodomésticos          254
Artículos para el hogar    201
Libros                     187
Instrumentos musicales     170
Name: count, dtype: int64
----------------------------------------

# 3. Calificación promedio de la tienda

In [ ]:
def calificacion_promedio(tienda_df, nombre_tienda):
    promedio = tienda_df["Calificación"].mean()
    print(f"Calificación promedio en {nombre_tienda}: {promedio:.2f}")

In [ ]:
calificacion_promedio(tienda, "Tienda 1")
calificacion_promedio(tienda2, "Tienda 2")
calificacion_promedio(tienda3, "Tienda 3")
calificacion_promedio(tienda4, "Tienda 4")

Calificación promedio en Tienda 1: 3.98
Calificación promedio en Tienda 2: 4.04
Calificación promedio en Tienda 3: 4.05
Calificación promedio en Tienda 4: 4.00

# 4. Productos más y menos vendidos

In [ ]:
def producto_mas_y_menos_vendido(tienda_df, nombre_tienda):
    conteo = tienda_df["Producto"].value_counts()
    producto_mas = conteo.idxmax()
    ventas_mas = conteo.max()

    producto_menos = conteo.idxmin()
    ventas_menos = conteo.min()

    print(f"\n{nombre_tienda}")
    print(f" Producto mas vendido: '{producto_mas}' con {ventas_mas} ventas")
    print(f" Producto menos vendido: '{producto_menos}' con {ventas_menos} ventas")

In [ ]:
producto_mas_y_menos_vendido(tienda, "Tienda 1")
producto_mas_y_menos_vendido(tienda2, "Tienda 2")
producto_mas_y_menos_vendido(tienda3, "Tienda 3")
producto_mas_y_menos_vendido(tienda4, "Tienda 4")

Tienda 1
 Producto mas vendido: 'Microondas' con 60 ventas
 Producto menos vendido: 'Auriculares con micrófono' con 33 ventas

Tienda 2
 Producto mas vendido: 'Iniciando en programación' con 65 ventas
 Producto menos vendido: 'Juego de mesa' con 32 ventas

Tienda 3
 Producto mas vendido: 'Kit de bancas' con 57 ventas
 Producto menos vendido: 'Bloques de construcción' con 35 ventas

Tienda 4
 Producto mas vendido: 'Cama box' con 62 ventas
 Producto menos vendido: 'Guitarra eléctrica' con 33 ventas

In [ ]:
resumen_productos = []

def analizar_ventas(tienda_df, nombre_tienda):
  conteo = tienda_df["Producto"].value_counts()
  resumen_productos.append({
      "Tienda": nombre_tienda,
      "Mas vendido": conteo.idxmax(),
      "Mas ventas": conteo.max(),
      "Menos vendido": conteo.idxmin(),
      "Menos ventas": conteo.min()
  })

analizar_ventas(tienda, "Tienda 1")
analizar_ventas(tienda2, "Tienda 2")
analizar_ventas(tienda3, "Tienda 3")
analizar_ventas(tienda4, "Tienda 4")

tabla_resumen = pd.DataFrame(resumen_productos)
print(tabla_resumen)

     Tienda                Mas vendido  Mas ventas              Menos vendido  \
0  Tienda 1                 Microondas          60  Auriculares con micrófono
1  Tienda 2  Iniciando en programación          65              Juego de mesa
2  Tienda 3              Kit de bancas          57    Bloques de construcción
3  Tienda 4                   Cama box          62         Guitarra eléctrica

   Menos ventas
0            33
1            32
2            35
3            33

# 5. Envío promedio por tienda

In [ ]:
envio_promedios = []

def promedio_costo_envio(tienda_df, nombre_tienda):
    promedio = tienda_df["Costo de envío"].mean()
    envio_promedios.append({
        "Tienda": nombre_tienda,
        "Costo de envío promedio": round(promedio, 2)
    })

In [ ]:
promedio_costo_envio(tienda, "Tienda 1")
promedio_costo_envio(tienda2, "Tienda 2")
promedio_costo_envio(tienda3, "Tienda 3")
promedio_costo_envio(tienda4, "Tienda 4")

In [ ]:
tabla_envios = pd.DataFrame(envio_promedios)
print(tabla_envios)

     Tienda  Costo de envío promedio
0  Tienda 1                 26018.61
1  Tienda 2                 25216.24
2  Tienda 3                 24805.68
3  Tienda 4                 23459.46